/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;1,400&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1 {
  font-size: 4.6rem; }

h2 {
  font-size: 3.6rem; }

h3 {
  font-size: 2.8rem; }

h4 {
  font-size: 2.2rem; }

h5 {
  font-size: 1.8rem; }

h6 {
  font-size: 1.6rem; }

.text-center {
  text-align: center; }

.btn {
  display: inline-block;
  padding: 16px 24px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: #1074e7;
  border: 1px solid #1074e7;
  border-radius: 3px; }

.box {
  margin: 2px;
  background-color: lightcoral;
  border: 1px solid crimson;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .box::after {
    content: "box";
    color: white; }

/* SPLIT */
.split {
  border: 1px dashed salmon;
  display: flex; }
  .split > div {
    display: flex; }
  .split.flip {
    flex-direction: row-reverse; }
  .split.align,
  .split .align {
    align-items: center; }
  .split.end,
  .split .end {
    justify-content: flex-end; }
  .split.center,
  .split .center {
    justify-content: center; }
  .split.around,
  .split .around {
    justify-content: space-around; }
  .split.between,
  .split .between {
    justify-content: space-between; }

.flex {
  display: flex; }
  .flex.push {
    align-items: flex-end; }
  .flex.pull {
    align-items: flex-start; }
  .flex.align {
    align-items: center; }
  .flex.center {
    justify-content: center; }

/* STACK */
.stack {
  display: flex;
  flex-direction: column; }
  .stack.flip {
    flex-direction: column-reverse; }

/* Rows & columns */
.c {
  flex: auto; }

.c1 {
  flex: 1; }

.c2 {
  flex: 2; }

.c3 {
  flex: 3; }

.c4 {
  flex: 4; }

.c5 {
  flex: 5; }

body {
  font-family: "Rubik", sans-serif;
  font-size: 14px; }

.container {
  border: 1px dashed darkkhaki;
  margin: 0 auto;
  max-width: 1200px; }

.bg {
  color: #74b1be;
  background-color: #2f3241; }

.bg-alt {
  background-color: #f4f5f7; }

.navbar {
  padding: 20px; }

.nav a {
  color: white; }

.nav > li {
  display: inline-block;
  margin-right: 5px; }

.hero {
  background-color: cornflowerblue;
  color: white;
  height: 500px; }
