@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;1,400&display=swap");
.btn {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block; }
  .btn.alt {
    border: 2px solid #4caf50;
    color: #4caf50;
    background-color: transparent; }

.split, .fl {
  display: flex; }

.reversed {
  flex-direction: row-reverse; }

.to-end {
  justify-content: flex-end; }

.to-start {
  justify-content: flex-start; }

.to-mid {
  align-items: center; }

.around {
  justify-content: space-around; }

.between {
  justify-content: space-between; }

.split > div[class^="c-"] {
  background-color: antiquewhite;
  margin: 2px; }

.c-auto {
  flex: auto; }

.c-1 {
  flex: 1; }

.c-2 {
  flex: 2; }

.c-3 {
  flex: 3; }

.c-4 {
  flex: 4; }

.c-5 {
  flex: 5; }

.c-6 {
  flex: 6; }

.c-7 {
  flex: 7; }

.c-8 {
  flex: 8; }

.sec {
  margin: 5px;
  border: dotted 2px goldenrod; }
  .sec.header {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .sec .vc {
    align-items: center; }
  .sec .hc {
    align-items: center; }

body {
  font-family: "Rubik", sans-serif;
  font-size: 14px; }

.container {
  border: 1px dashed darkkhaki;
  margin: 0 auto;
  max-width: 1200px; }

.flex {
  display: flex; }

.bg-alt {
  background-color: #f4f5f7; }

.nav > li {
  display: inline-block;
  margin-right: 5px; }

.tag {
  background-color: #c0b6f2;
  color: #403294;
  height: 20px;
  line-height: 2;
  border-radius: 3px;
  margin: 4px; }

.centered {
  text-align: center; }
