// .flex {
//     display: flex;
// }

// .row {
//     display: flex;
//     flex-wrap: wrap;

//     .rt {
//         justify-content: flex-end;
//         align-items: center;
//     }
// }

.split, .fl {
  display: flex;
}

.reversed {
    flex-direction: row-reverse;
    // flex-wrap: wrap-reverse;
}

.to-end {
  justify-content: flex-end;
}
.to-start {
  justify-content: flex-start;
}

.to-mid {
  align-items: center;
}

.around {
  justify-content: space-around;
}
.between {
  justify-content: space-between;
}

.split > div[class^="c-"] {
  background-color: antiquewhite;
  margin: 2px;
}

// columns 16 based
.c-auto {
  flex: auto;
}
.c-1 {
  flex: 1;
}
.c-2 {
  flex: 2;
}
.c-3 {
  flex: 3;
}
.c-4 {
  flex: 4;
}
.c-5 {
  flex: 5;
}
.c-6 {
  flex: 6;
}
.c-7 {
  flex: 7;
}
.c-8 {
  flex: 8;
}
