.sec {
    margin: 5px;
    border: dotted 2px goldenrod;
    
    &.header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    // vertically centered
    .vc {
        align-items: center;
    }

    // vertically centered
    .hc { align-items: center; }
    // left aligned
    // right aligned

}
