@import "_reset", "_buttons", "_grid", "_flex", "_sections";
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;1,400&display=swap");

body {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
}

.container {
  border: 1px dashed darkkhaki;
  margin: 0 auto;
  max-width: 1200px;
  &::before {
    content: "container";
  }
}

.labeled {
  &::before {
    background-color: darkorange;
    color: white;
    padding: 3px;
    margin: 2px 0 2px 2px;
    display: inline-block;
    font-size: 12px;
  }
}

.bg-alt {
  background-color: #f4f5f7;
}

.nav > li {
  display: inline-block;
  margin-right: 5px;
}