@import "_reset", "_typography", "_utilities", "_buttons", "_grid", "_flex", "_sections";
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;1,400&display=swap");

body {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
}

.container {
  border: 1px dashed darkkhaki;
  margin: 0 auto;
  max-width: 1200px;
}

// .labeled {
//   &::before {
//     background-color: darkorange;
//     color: white;
//     padding: 3px;
//     margin: 2px 0 2px 2px;
//     display: inline-block;
//     font-size: 12px;
//   }
// }

.bg {
  color: #74b1be;
  background-color: #2f3241;
}

.bg-alt {
  background-color: #f4f5f7;
}

.navbar {
  padding: 20px;
}
.nav {
  a { color: white; }
  > li {
    display: inline-block;
    margin-right: 5px;
  }
}

.hero {
  background-color: cornflowerblue;
  color: white;
  height: 500px;
}

